@charset "utf-8";
/* CSS Document */

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-content a:not(.ui-btn,.ui-link-inherit) { color: #1FBECA; }
.ui-content a:not(.ui-btn,.ui-link-inherit):hover { color: #FFFFFF; }

#videolist h3{
	/*margin: 15px 0 5px 0;
	height:35px;
	overflow:hidden;
	font-size:1em;*/
}

#videolist img {
	width:90%;
}

#videolist a {
	text-decoration:none;
	/*color:#777;	*/
}

#videoplayer .ui-content {
	margin:0;
	padding:0;
}

#videoplayer iframe {
	width:100%;
	min-height:50%;
}

#videoplayer h3,#myplayer p{
	padding 0 5%;
}


#maasbachradio .alignleft {
	text-align:left;
}


table{
    width:100%;
    font-size:18px;
}

tr:nth-child(odd){
    background:#ccc;
}

th{
    text-align:left;
}

#map_canvas{
    width: 100%;
    height:350px;
    margin-bottom:10px;
}

#map_canvas .infowindow{
	color:#000000;
	font-weight:bold;
	text-shadow:none;
	text-align:center;
}
